@import './colors.scss';

.btn {
  background: $primary-color;
}

.btn:hover {
  background: $secondary-color;
}

.primary-btn {
  background: $primary-color;
}

.primary-btn:hover {
  background: $secondary-color;
}

.danger-btn {
  background: $danger;
}

.danger-btn:hover {
  background: $danger-hover;
}

.icon {
  color: $primary-color;
}

.icon:hover {
  color: $secondary-color;
}

.btn-disable {
  background: $btn-hover;
  pointer-events: none;
}

.active-btn:hover{
  background: $primary-color;
  color: $white;
}
