$primary-color: #6137e0;
$secondary-color: #6740df;
$btn-hover: #9781da;
$gray: #D6D6D6;
$light-gray:#F2F2F2;
$white: #ffffff;
$danger: #fa4e4e;
$danger-hover:#f82121;
$yellow:#FFF8C4;
$light-yellow:#FFF9AB;