@import './spinner.scss';
@import './sidebar.scss';
@import './colors.scss';
@import './floatingFields.scss';
@import './button.scss';
@import './searchbar.scss';
@import './table.scss';
@import './videoplayer.scss';
@import './card.scss';
@import '../node_modules/video-react/dist/video-react.css';


.background {
    background: $primary-color;
}

.text {
    color: $primary-color;
}

.text-danger {
    color: $danger
}

.text-danger:hover {
    color: $danger-hover
}

.disable-text {
    color: $btn-hover;
    pointer-events: none;
}
