.admin-table {
    background-color: $light-gray;
}

.unverified {
    background: $yellow;
}
// .funds-mgt-table thead tr th{
//     text-align: center;
// }
// .funds-mgt-table tbody tr td{
//     text-align: center;
// }
.custom-height{
    height: 30.5rem;
    overflow-y: auto;
}