.admin-table {
    background-color: $light-gray;
}

.unverified {
    background: $yellow;
}
// .funds-mgt-table thead tr th{
//     text-align: center;
// }
// .funds-mgt-table tbody tr td{
//     text-align: center;
// }
.top-space-drop{
    margin-top: 0px !important;
}
.bottom-height{
    height: 10%;
}
.top-height{
    height: 88%;
}